.id1314-header{
  width:100%;
  height:auto;
}
.id1314-title{
  width:100%;
  height:5rem;
  display:flex;
  align-items:center;
  padding-left:3rem;
  background-color:#f5f5f5; 
}
h1 {
  font-size: 1.8em;
  color: #999;
  margin-bottom: 0;
}
nav{
  width:100%;
  background-color: gray;
}
nav a {
  display:inline-table;
  width:auto;
  height:2rem;
  line-height:2rem;
  text-decoration: none;
  text-align:center;
  padding:0 1.4rem;
  background-color:gray;
  transition:0.7s;
  position:relative;
}
nav a::before {
  content:'';
  display:block;
  width:0;
  height:0;
  border-top: 1rem solid transparent;
  border-left: 1rem solid gray;
  border-bottom: 1rem solid transparent;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  transition:0.7s;
}
nav a:first-child::before{
  display:none;
}
nav a::after {
  content:'';
  display:block;
  width:0;
  height:0;
  border-top: 1rem solid transparent;
  border-left: 1rem solid gray;
  border-bottom: 1rem solid transparent;
  position:absolute;
  top:0;
  right:-1rem;
  z-index:2;
  transition:0.7s;
}
nav a:visited, a:link {
  color: #fff;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a:hover::before {
  background-color: #CFD8DC;
}
nav a:hover::after {
  border-left: 1rem solid #CFD8DC;
}
nav a.active {
  color: #039be5;
}
nav a.active::before {
  color: #039be5;
}
nav a.active::after {
  color: #039be5;
}
.section{
  padding:5rem;
}